h1 {
  margin-top: 2%;
  margin-bottom: 0%;
  text-align: center;
  background-color: white;
  margin-left: 32%;
  margin-right: 32%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-family: 'Times New Roman', Times, serif;
}

h2 {
  margin-top: 2%;
  margin-bottom: 0%;
  text-align: center;
  background-color: white;
  margin-left: 32%;
  margin-right: 32%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-family: 'Times New Roman', Times, serif;
}

h3 {
  text-align: center;
  background-color: white;
  margin-left: 32%;
  margin-right: 32%;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 0%;
  margin-bottom: 0%;
}

.para1 {
  background-color: aquamarine;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-indent: 30px;
  color: rgb(243, 0, 252);
  padding-left: 1%;
  padding-right: 1%;
  margin-left: 30%;
  margin-right: 30%;
}

#indent {
  text-indent: 30px;
}

body {
  background-color: rgb(247, 240, 240);
}


p {
  padding-left: 3%;
  padding-right: 3%;
  margin-left: 32%;
  margin-right: 32%;
  font-family: 'Times New Roman', Times, serif;
  background-color: white;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-top: .7%;
  padding-bottom: .7%;
}